#table, th, td{
    border: 1px solid black;
    border-spacing: 0;
}
th, td{
    width: 300px;
    text-align: center;
    padding: 10px;
    
}
.name {
    font-weight: bold;
    color: red;
}
.cont_table {
    
    
}
.form{
    border: 1px solid black;
    max-width: 400px;
    padding-left: 10px;
    padding-bottom: 5px;
}

input{
    width: 300px;
}