$text-color: #ffffff;

body {
    background-color: black;
    .form{
        min-width: 60%;
        margin-bottom: 15px;
        
    }
    .btn {
            border-radius: 100px;
            //visibility: hidden;
    }
}

#myModal{
    .modal-content{
        width: 1000px;
        background-color: black;
    }
    h2{
        color: $text-color;
        
    }
    p{
        color: $text-color;
    }
}

