
.carouselCont{
    margin-top: 0px;
}
body {
    background-color: black;
    .form-control{
        min-width: 60%;
        
    }
    .btn {
            border-radius: 100px;
            visibility: hidden;
    }
}